<h2><%= @item.name %></h2>
<%= image_tag @item.cover.variant(resize_to_limit: [500, 500]) if @item.cover.attached? %>
<h5>價格：$<%= @item.price %>元</h5>

<h5>留言區</h5>
<%= form_for(@comment, url: item_comments_path(@item)) do |form| %>
<div>
  <%= form.text_area :content%>
</div>
  <%= form.submit %>
<% end %>