<h2><%= @item.name %></h2>
<%= image_tag @item.cover.variant(resize_to_limit: [500, 500]) if @item.cover.attached? %>
<h5>價格：$<%= @item.price %>元</h5>

<h5>留言區</h5>
<%= form_for(@comment, url: item_comments_path(@item), remote: true) do |form| %>
<div class="form-group">
  <%= form.text_area :content, class: 'form-control' %>
</div>
  <%= form.submit class: 'btn btn-outline-secondary'%>
<% end %>
<hr>
<div id="comments">
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>
</div>





<!--
<% @comments.each do |comment| %>
  <div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
        <p class="card-text"><%= comment.content %></p>
    </div>
  </div>
<% end %>
-->
